


# potential names: orbiterm OrbiTerm, cosmocli CosmoCLI, celesterm, CelesTerm
# todo for today:



### adding things format ###

# ::planet:: <name> <radius> <distance> <angle> <inclination>
# ::spaceref:: <axis length> <x> <y> <z>
# ::ring:: <inner diameter> <outer - inner diameter> <distance> <angle>
# ::orbit:: <distance> <angle> <semimajor> <eccentricity> <inclination> <LOAN> <argofperi>

planet earth 40 orbital=600,100,0,0,0 params=23,0
spaceref earth 100
