


### planet adding format ###

# <planet> <name> <radius> <distance> <angle>

planet mercury 4 150 230
planet venus 9.5 180 70
planet earth 10 220 100
planet mars 5.3 250 100 
planet jupiter 20 350 85
planet saturn 15 400 -10
planet uranus 13 450 75
planet neptune 12 470 10
planet pluto 3 500 -30

spaceref 20 10 80 -5

ring 20 8 400 -10

potential names: orbiterm OrbiTerm, cosmocli CosmoCLI, celesterm, CelesTerm
