


# potential names: orbiterm OrbiTerm, cosmocli CosmoCLI, celesterm, CelesTerm



### adding format ###

# ::planet:: <name> <radius> <distance> <angle>
# ::spaceref:: <axis length> <x> <y> <z>
# ::ring:: <inner diameter> <outer - inner diameter> <distance> <angle>
# ::orbit:: <distance> <angle> <semimajor> <eccentricity> <inclination> <LOAN> <argofperi>



spaceref 20 10 80 -5
planet mercury 3.8 700 230
planet venus 9.5 850 60
planet earth 10 1000 100
orbit 1000 100 15 0 0 0 0
planet mars 5.3 1200 100 
planet jupiter 112.1 1500 85
planet saturn 94.6 1500 -20
ring 110 80 1500 -20
planet uranus 40 1650 50
planet neptune 38.9 1800 0
planet pluto 2.2 2000 -45




