


# potential names: orbiterm OrbiTerm, cosmocli CosmoCLI, celesterm, CelesTerm
# todo for today:
#	- going to add a general config file
#	- going to refactor the rendering functions for all geometries 
#	- 



### adding things format ###

# ::planet:: <name> <radius> <distance> <angle> <inclination>
# ::spaceref:: <axis length> <x> <y> <z>
# ::ring:: <inner diameter> <outer - inner diameter> <distance> <angle>
# ::orbit:: <distance> <angle> <semimajor> <eccentricity> <inclination> <LOAN> <argofperi>

planet earth 10 polar=600,100 params=23,180
planet moon 2 polar=625,95
planet sky 30 polar=600,120
spaceref earth 30
orbit earth params=15,0,55,55,55

planet mercury 3 polar=400,240
planet venus 10 polar=500,70
planet mars 4 polar=700,100 params=15,70
planet jupiter 20 polar=900,80
planet saturn 20 polar=1000,-10 params=20,10
ring saturn dimens=27,18 params=20,10
planet uranus 15 polar=1100,70
planet neptune 15 polar=1200,0
planet pluto 2 polar=1300,-45
planet pluto 5 orbital=1000,0.09,1.8,286,49,137

spaceref sun 500
