


# potential names: orbiterm OrbiTerm, cosmocli CosmoCLI, celesterm, CelesTerm
# todo for today:



###### adding things format ######

# ::planet:: <name> <radius> <:args:>
# 	args:
# 		cartesian={},{},{}           - x, y, z
# 		polar={},{}                  - r, theta
# 		orbital={},{},{},{},{},{},{} - a, e, i, longitdueascnode, argperi, trueanomaly
# 		params={},{}                 - tilt, rotation


# ::spaceref:: <target> <length>

# ::ring:: <target> <:args:>
# 	args:
# 		dimens={},{}                 - radius, depth
# 		params={},{}                 - tilt, rotation

# ::orbit:: <target> <:args:>
# 	args:
# 		params={},{},{},{},{},{},{}  - a, e, i, longitdueascnode, argperi, trueanomaly



planet mercury 2440  orbital=5.79E+7,2.05E-1,7.003,4.829E+1,2.919E+1,1.55E+2
planet venus   6051  orbital=1.08E+8,6.7E-3,3.39,7.66E+1,5.512E+1,2.95E+2
planet earth   6378  orbital=1.494E+8,1.598E-2,3.16E-3,1.86E+2,2.77E+2,7.17
planet mars    3396  orbital=2.279E+8,0.34E-2,1.85,4.94E+1,2.86E+2,1.37E+2
planet jupiter 71492 orbital=7.78E+8,4.8E-2,1.303,1.005E+2,2.733E+2,6.5E+1
planet saturn  60268 orbital=1.429E+9,5.5E-2,2.488,1.137E+2,3.367E+2,2.59E+2
planet uranus  25559 orbital=2.887E+9,4.567E-2,7.72E-1,7.4E+1,9.05E+1,2.509E+2
planet neptune 24766 orbital=4.5E+9,1.29E-2,1.76,1.31E+2,2.67E+2,3.19E+2
planet pluto   1188  orbital=5.89E+9,2.46E-1,1.71E+1,1.1E+2,1.13E+2,7.79E+1

moon   luna    1137  orbital=3.84E+5,3.63E-2,5.03,3.59E+2,3.7E+1,3.57E+1 target=earth

ring saturn dimens=75000,50000
ring uranus dimens=70000,3000 params=97,0



###### nasa jpl horizons key ######

# EC    QR   IN
# OM    W    Tp
# N     MA   TA
# A     AD   PR

# EC     Eccentricity, e
# QR     Periapsis distance, q (km)
# IN     Inclination w.r.t X-Y plane, i (degrees)
# OM     Longitude of Ascending Node, OMEGA, (degrees)
# W      Argument of Perifocus, w (degrees)
# Tp     Time of periapsis (Julian Day Number)
# N      Mean motion, n (degrees/sec)
# MA     Mean anomaly, M (degrees)
# TA     True anomaly, nu (degrees)
# A      Semi-major axis, a (km)
# AD     Apoapsis distance (km)
# PR     Sidereal orbit period (sec)    
